* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.header-contenar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 45px;
}

body {
    background-color: rgba(128, 128, 128, 0.204);
}

.logo img {
    padding-right: 600px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 50px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: 700;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

ul li a:hover {
    color: #f27f3d;
}

.dropdown-manu1 {
    position: absolute;
    top: 8%;
    left: 72%;
    background-color: #ffffff;
    padding: 15px 20px;
    /* border-radius: 10px; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    visibility: hidden;

    & li {
        font-size: 1.2em;
        font-weight: 600;
        width: 100%;
        /* transition: .3s ease; */
    }

    & li:hover {
        color: #f27f3d;
    }
}

.dropdown-manu {
    position: absolute;
    top: 9%;
    left: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    height: 250px;
    visibility: hidden;

    & li:first-child {
        width: 99%;
        font-size: 1.2em;
        font-weight: 600;
    }

    & li {
        font-size: 1.2em;
        font-weight: 600;
        width: 100%;
        padding: 10px 5px;
        /* transition: .3s ease; */
    }

    & li:hover {
        cursor: pointer;
        color: #f27f3d;
    }
}

.btn {
    padding: 10px 20px;
    font-weight: 800;
    border: none;
    background: #f27f3d;
    color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.btn:hover {
    background: #133864;
}