header {
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
  }
  
  .logo {
    font-size: 3rem;
    color: #00a008c0;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
  }
  

  nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #00a008c0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  nav a:hover::after,
  nav a.active::after {
    transform: scaleX(1);
    transform-origin: center;
  }
  

  nav a:hover,
  nav a.active {
    color: #00a008c0;
  }
  
  .Login {
    padding: 1rem 2.8rem;
    background-color: white;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ffa500;
    font-weight: 600;
    border: 2px solid #ffa500;
    cursor: pointer;
  }
  
  .Login:hover {
    background-color: #ffa500;
    color: black;
    box-shadow: 0 0 25px #a04000;
  }
  