* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


main {
    background: #f2f4f7;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 14%;

}

.section-one {
    padding-right: 15%;

    & img {
        height: 106px;
        position: relative;
        right: 7%;
        margin-bottom: -10px;
    }

    & p {
        font-size: 28px;
        font-weight: normal;
        width: 500px;
    }
}


.section-two {
    position: relative;
    right: 11%;
    top: 10%;

    & .login-contenar {
        width: 140%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(255, 255, 255);
        padding: 10px 15px 24px;
        line-height: 80px;
        box-shadow: 3px 3px 10px 4px rgba(128, 128, 128, 0.17);
        border-radius: 15px;

        & input {
            margin: 5px 0px;
            border: none;
            outline: 1px solid rgba(128, 128, 128, 0.316);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-align: start;
            font-size: 17px;
            padding: 14px 16px;
            width: 100%;
        }

        & input::placeholder {
            color: rgba(128, 128, 128, 0.692);
        }

        & input:focus {
            outline: 1px solid #0866ff;
        }

        & input:focus::placeholder {
            color: rgba(128, 128, 128, 0.418);
        }


        & .btn1 {
            border: none;
            border-radius: 5px;
            margin: 13px 0px;
            width: 100%;
            padding: 10px 0px;
            font-size: 20px;
            cursor: pointer;
            color: white;
            font-weight: 600;
            background: #0866ff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        & .btn1:hover {
            background: #1d73fd;
        }

        & a {
            color: #0866ff;
            text-decoration: none;
            margin-top: -9%;
            font-size: 15px;
        }

        & a:hover {
            text-decoration: underline;
        }

        & .btn2 {
            border: none;
            border-radius: 5px;
            margin: 13px 0px;
            width: 55%;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
            color: white;
            font-weight: 600;
            background: #42b72a;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        & .btn2:hover {
            background: #47ac32;
        }


        

    }


}