* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenar {
    background-color: rgb(208, 214, 212);
    width: 45%;
    height: 100%;
    margin: 3% auto;
    display: flex;
    align-items: center;
    border-radius: 50px;
}


.fisrt-section {
    flex-basis: 280px;
    border-right: 1px solid black;

}

.second-section {
    flex-basis: 145px;
}

.third-section {
    flex-basis: 145px;
    background-color: aqua;
}
.d1{
    padding: 10px 26px;
}

.d1 h3 {
    font-size: 0.9rem;
}

.fourth-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 290px;
}

.material-symbols-outlined {
    background-color: #ff385c;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 50%;
}