* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}

header {
    width: 100%;
    top: 0;
    position: sticky;
    backdrop-filter: blur(10px);
    background-color: #06050683;

    & .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    & .navbar img {
        width: 11%;
        position: relative;
        bottom: 10%;
    }


    & .logo a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: "Exo 2", sans-serif;
        color: #ffffffbd;
        font-weight: 700;
    }

    & .content {
        position: relative;
        right: 6%;
    }
}

/* Button start */
button a {
    text-decoration: none;
    color: black;
}

/*Fisrt*/
.btn1 {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px #cd201f solid;
    overflow: hidden;
}

.text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
}

.text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.icon1 {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.icon1::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background-color: #cd201f;
}

.btn1:hover .icon1 {
    transform: translateX(96px);
    transition: transform 0.5s;
}

.btn1:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
}

.btn1:active {
    transform: scale(1.03);
}

/*Sen*/
button {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px #FFB700 solid;
    overflow: hidden;
}

.text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
}

.text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.icon::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    ;
}

button:hover .icon {
    transform: translateX(96px);
    transition: transform 0.5s;
}

button:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
}

button:active {
    transform: scale(1.03);
}


/*Third*/
.btn3 {
    position: relative;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: white;
    border: 1px #3a5ba2 solid;
    overflow: hidden;
}

.text1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 22%;
}

.text2 {
    position: absolute;
    top: 25%;
    left: -50px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.icon2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.icon2::before {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 33px;
    border-radius: 30px;
    background-color: #3a5ba2;
}

.btn3:hover .icon2 {
    transform: translateX(96px);
    transition: transform 0.5s;
}

.btn3:hover .text2 {
    transform: translateX(100px);
    transition: transform 0.6s;
}

.btn3:active {
    transform: scale(1.03);
}

/*Button End*/




/*Main Page Start*/
main {
    width: 100%;
    height: 100%;
}

#section-first {
    width: 100%;
    height: 100%;
    background-image: url(./image/English/Deepika\ Padukone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Main Page End*/




@media screen and (width:1120px) {}