* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --back-ground-color: rgba(128, 128, 128, 0.106);
    --logo-color: rgba(0, 0, 0, 0.653);
    --text-color: rgb(11 10 10 / 70%);
    --contenar-color: #0000000f;
    --section1-color: rgb(149 149 149 / 83%);
}

main {
    width: 100%;
    height: 100vh;
    background-color: var(--back-ground-color);
    padding: 5% 0;
}

.contenar {
    width: 80%;
    height: 100%;
    background-color: var(--contenar-color);
    margin: auto;
    border-radius: 10px;
    padding: 2%;
}


.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
    background-color: var(--section1-color);
    border-radius: 5px;
    padding: 10px 0;

    & h1 {
        color: var(--logo-color);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 3px;
        text-shadow: 2px 2px 5px rgba(32, 32, 32, 0.426);
    }

}

.input-data #input_data {
    padding: 2px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--text-color);
}

.input-data #input_data:focus {
    outline: 2px solid black;
}

.input-data #btn {
    cursor: pointer;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    transition: .2s linear;
    font-weight: 600;
    color: var(--text-color);
}

.input-data #btn:hover {
    background-color: rgba(71, 71, 71, 0.914);
    outline: 1px solid black;
    color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.369);
}



.section2 {
    height: 85%;
    background-color: rgba(6, 6, 6, 0.464);
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 0 10%;
    text-align: justify;
    border-radius: 20px;
}

.first {
    background-color: #ebebebfc;
    border-radius: 30%;
    box-shadow: 5px 7px 10px rgba(161, 30, 237, 0.613);
}

.first img{
    padding: 2px;
}
.second {
    width: 80%;

    & p {
        font-size: 1.3em;
        padding: 5px 0;
        color: rgba(219, 219, 219, 0.871);
    }

    & h2 {
        padding: 5px 0;
        font-size: 1.3em;
        color: rgba(219, 219, 219, 0.871);
    }

    & strong{
        color: rgba(255, 255, 255, 0.797);
    }
}

