* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenar {
    background-color: aquamarine;
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 5% auto;
    padding: 20px 0;
}

.contenar-data {

    & img {
        width: 60%;
    }
}